<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mokn.istio.api.mapper.ResourceTemplateMapper" >
    <resultMap id="BaseResultMap" type="com.mokn.istio.api.model.db.ResourceTemplate" >
        <id column="sysno" property="sysno" jdbcType="BIGINT" />
        <result column="resource" property="resource" jdbcType="VARCHAR" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="template" property="template" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
    sysno,resource,title,template
    </sql>
    <select id="selectByResource" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List" />
        FROM resource_template WHERE resource=#{resource}
    </select>
</mapper>